@{
    ViewBag.Title = "Contato";
} 
<!--lembrar de mudar a viewbag message-->
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <hr>

    <address>
        <h3>Projeto realizado em aula na <abbr title="Escola de Ensino Tecnico Professor Basilides de Godoy">ETEC</abbr></h3>
        <br>
        Matheus Gama Russi & Matheus Militão da Silva
        <br>
        Projeto feito em ASP.Net
        <br>
        Feito em aula de Desenvolvimento de Software
    </address>
    <hr>
    <address>
        <strong>Github Matheus Militão: </strong>   <a href="https://github.com/MilitaoMatheus" target="_blank">Matheus Militão</a><br />
        <strong>Github Matheus Gama: </strong> <a href="https://github.com/MatheusGamaRussi" target="_blank">Matheus Gama</a>
    </address>
</main>