@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="fachada">
        <h1>Projeto 2ds</h1>
    </div>
    
    <div class="Desenvolvedores">
        <p>MATHEUS GAMA RUSSI</p>
        <img src="https://avatars.githubusercontent.com/u/128054329?v=4" width="300px" height="300px">
    </div>


</main>